@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 15%, rgba(0,255,235,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
/* top right bottom left (TRBL)*/
/* top/bottom left/right */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.login-page-container {
  /* max-width: 600px; */
  max-width: 40%;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 10px 10px 10px 10px;
  margin: 150px auto;
}

#login-div {
  padding: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 16px;
  background-color: #f9f9f9;
  max-width: 100%;
}

.login-subsection {
  padding: 5px;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
  max-width: 100%;
}

.login-input {
  margin: 10px 0px 0px 0px;
  width: 45%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-input {
  margin: 5px auto;
  width: 50%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#check-email-confirm {
  margin-bottom: 10px;
}

#login-button {
  margin-bottom: 5px;
  margin-top: 10px;
}

#returnMessage {
  margin-bottom: 0px;
}

#sign-up-div {
  padding: 5px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border-radius: 16px;
  background-color: #f9f9f9;
  max-width: 400px;
}

#sign-up-link:active {
  color: black;
}

#register-div {
  padding: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 16px;
  background-color: #f9f9f9;
  max-width: 400px;
}

.page-container {
  background-color: rgba(207, 203, 203, 0.959);
  border-radius: 16px;
  padding: 10px 0px 10px 0px;
  margin: 20px auto;
}

.page-container-flex {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 0px 0px 10px 0px;
  margin: 30px auto;
}

.side-by-side-container {
  max-width: 450px;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 10px 0px 10px 0px;
  margin: 0px auto 20px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 15px auto 10px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
}
.navbar h1 {
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(9,9,121,1) 15%, rgba(0,255,235,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.navbar .links {
  display:flex;
  align-items:center;
  height:38px;
  margin-left: auto;
}

.logout-login-register-button {
  color: white;
  background-color: #0d5175 !important;
  border-color: #0d5175 !important;
  border-radius: 8px;
  margin-left: 16px;
}
.navbar .links .logout-button:hover {
  cursor: pointer;
  color: black;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  padding: 6px;
}
.navbar a:hover {
  color: black;
}



#add-friend-button {
  /* top right bottom left */
  margin: auto 20px auto auto;
  border-radius: 8px;
  border-width: 1px;
}

#add-friend-button:hover {
  cursor: pointer;
}

.leaderboard {
  height: 500px !important;
  width: 450px;
}

/* Homepage */

.homepage-section-container {
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

/* START User profile login box */
.homepage-user-profile {
  padding: 5px;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px 40px 0px 30px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
}

#userName {
  padding: 10px;
  margin: 0 auto;
  color: black;
  border-radius: 16px;
}

#user-profile-hr {
  width: 100px;
  margin: 0px auto;
  margin-bottom: 5px;

}

.user-profile-stats {
  padding: 5px;
  margin: 0 auto;
  color: black;
  border-radius: 16px;
}

.edit-profile-button {
  margin-top: 10px;
  margin-bottom: 5px;
}

.deleteAccount {
  margin-right: auto !important;
}

/* END User profile login box */

.homepage-map {
  padding: 5px;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5px 30px 0px 0px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
  height: 450px;
}

.map-container{
  display: block;
  height: 355px;
}

.homepage-getting-started {
  padding: 5px;
  display: block;
  align-items: center;
  text-align: left;
  justify-content: center;
  margin: 5px 30px 0px 0px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
}

.getting-started-text-box {
  padding: 10px;
  margin: 0 auto 0;
  color: black;
  border-radius: 16px;
}

#getting-started-text {
  margin-bottom: 5px;
}

.homepage-subsection {
  padding: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
  max-width: 1000px;
}

/* START friends page */

.friends-page-subsection-leaderboard {
  /* top right bottom left */
  padding: 5px;
  float: right;
  display: block;
  text-align: center;
  justify-content: center;
  margin: 5px 30px 0px 0px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 600px;  
}

.friends-page-subsection-add-friend {
  /* top right bottom left */
  padding: 5px;
  float: left;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 5px 0px 0px 30px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 600px;
}

.friends-search-add {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px !important;
  width: 600px;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 16px;
  background-color: #f2f2f2;
  margin-top: 10px;
}

#search-user-input {
  height: 30px;
  margin-right: 10px;
}

/* END friends page */

.search-run-text {
  margin-right: 5px;
  padding: 4px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-run-text:hover {
  cursor: text;
}

.buttons {
  color: white;
  background-color: #17bf33;
  border-radius: 8px;
  border: 1px solid black;
}

.buttons:hover {
  cursor: pointer;
}

.search-run-buttons{
  color: white;
  background-color: #17bf33;
  border-radius: 8px;
  border: 1px solid black;
}

.search-run-buttons:hover {
  cursor: pointer;
}

.input-field {
  padding: 5px 10px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.userList{
  display: flex;
  text-align: center;
  justify-content: center;
}

.display-users{
  display: flex;
  /* text-align: center; */
  justify-content: right; 
}

.search-user-buttons{
  display: right;
}